<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body class="bg-light text-dark">
    <%- include('./partials/navbar.ejs') %>
       <div class="container mt-4 w-50">
          <% if(locals.error){ %>
               <div class="alert alert-danger"><%= error %></div>
               <% } %>
             <form action="/api/v1/book"  method="post" enctype="multipart/form-data" >         
    <%- include('./partials/formInput.ejs') %>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Add</button>

    </div>
            </form>
       </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>